[Unit]
Description=Run docker registry
Documentation=https://github.com/docker/docker-registry
After=docker.service
Requires=docker.service

[Service]
KillMode=none
EnvironmentFile=/etc/environment
#ExecStartPre=/bin/bash -c "/usr/bin/docker pull {{ registry_image_name }}"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm -f docker-registry"
ExecStart=/usr/bin/docker run --rm --name docker-registry -v /home/coreos/registry:/registry -p 5000:5000 {{ registry_image_name }}
ExecStop=/bin/bash -c -v "/usr/bin/docker stop -t 60 docker-registry || true;"

[X-Fleet]
MachineID={{ registry_host.results[0].ID }}
